html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-image: url("../img/dark_dunes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

section {
    padding: 30px 0;
}

/* Modal */
.page__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    overflow: auto;
    padding: 15px;
    display: flex;
}

.page__overlay_modal {
    display: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    display: block;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 30px 0 270px;
    }

    .page__header {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
    }
}

/* @media (min-width: 1440px) {
    .page {
        background-image: linear-gradient(to right, #A1B7C8 24.5%, transparent 24.5%);
    }

    .page__header {
        left: calc(50% - 720px);
    }
}

@media (min-width: 2700px) {
    .page {
        background-image: linear-gradient(to right, #A1B7C8 30%, transparent 30%);
    }
} */

