.header {
    background-color: #0c0a0a;
    min-height: 60px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 124px;
}

.header__contacts {
    display: none;
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    padding: 30px 15px;
    color: #ffffff;
    background-color: #0c0a0a;
}

.contacts__item {
    margin-bottom: 50px;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

.contacts__head {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.contacts__head_social {
    margin-bottom: 12px;
}

.contact__link {
    font-weight: 400;
    font-size: 16px;
}

.contacts__social-list {
    display: flex;
}

.contacts__social-item:not(:last-child) {
    margin-right: 18px;
}

.contacts__social-link {
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform 0.5s;
}

.contacts__social-link:hover {
    transform: scale(1.2);
}

.contacts__social-link_telegram {
    background-image: url("../img/telegram.svg");
}

.header__contacts-burger {
    display: block;
    width: 27px;
    height: 14px;
    background-image: url("../img/menu.svg");
}

@media (min-width: 768px) {
    .header {
        min-height: 100px;
        padding: 28px 0;
    }

    .header__logo {
        width: 180px;
    }

    .header__contacts {
        top: 101px;
        padding: 40px;
    }

    .contacts__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .contacts__item {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .header {
        width: 240px;
        padding: 50px 0;
    }

    .header__container {
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 20px;
    }

    .header__contacts {
        position: static;
        display: block;
        padding: 0;
    }

    .contacts__list {
        flex-direction: column;
    }

    .contacts__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .header__contacts-burger {
        display: none;
    }
}

@media (min-width: 1440px) {
    .header {
        width: 355px;
        padding-top: 60px;
    }
}
