.portfolio__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.card {
    box-sizing: border-box;
    max-width: 252px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 14px;
}

.card__picture {
    align-self: center;
    width: 165px;
    height: 102px;
    padding: 0 18px 0;
    background-image: url("../img/macbook.svg");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.card__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card__client {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}

.card__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

.card__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
}

.portfolio__slider {
    position: relative;
    max-width: 290px;
    margin: 0 auto;
}

.portfolio__arrow {
    display: block;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 26px;
    height: 26px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 5;
}

.portfolio__arrow_left {
    transform: scale(1);
}

.portfolio__arrow_right {
    transform: scale(1);
    transition: transform 0.5s;
    right: 0;
    transform: rotate(180deg);
}

.portfolio__arrow_disable {
    opacity: 0.3;
    pointer-events: none;
}

@media (min-width: 480px) {
    .card__picture {
        width: 280px;
        height: 200px;
        padding: 6px 26px 15px;
    }
    
    .portfolio__slider {
        max-width: 340px;
    }

    .portfolio__title {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .portfolio__slider {
        max-width: 688px;
    }
}

@media (min-width: 992px) {
    .portfolio__slider {
        max-width: 690px;
    }
}

@media (min-width: 1440px) {
    .portfolio__slider {
        max-width: 825px;
    }

    .portfolio__title {
        font-size: 34px;
    }

    .card__data {
        justify-content: space-around;
    }

    .card__date {
        font-size: 16px;
    }

    .card__title {
        font-size: 14px;
    }

    .card {
        max-width: 366px;
    }
}