.present {
    max-height: 656px;
}

.present__group-title {
    text-align: left;
    margin-bottom: 18px;
}

.present__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.present__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
}

.present__description {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 40px;
}

.present__about-title {
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 5px;
}

.present__about-description {
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 15px;
}

.present__about_ru {
    margin-bottom: 5px;
}


@media (min-width: 480px) {
    .present__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .present__title {
        font-size: 32px;
    }

    .present__subtitle {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    section {
        padding: 50px 0;
    }

    .present {
        padding-top: 70px;
    }
    
    .present__title {
        margin-bottom: 24px;
    }

    .present__group-title {
        margin-bottom: 40px;
    }

    .present__about-title {
        font-size: 16px;
    }
    
    .present__about-description {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    section {
        padding: 65px 0;
    } 
}

@media (min-width: 1440px) {
    section {
        padding: 75px 0;
    }

    .present__group-title {
        margin-bottom: 60px;
    }

    .present__title {
        margin-bottom: 20px;
        font-size: 36px;
    }

    .present__subtitle {
        font-size: 20px;
    }
}

